*{
    margin: 0;
    padding: 0;
}
/* nav start */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.navList{
    width: 70%;
    display: flex;
align-self: center;

}
.navList li{
list-style: none;
padding: 20px;
}
.navList li a{ 
    text-decoration: none;
color: white;
}
.navList li a:hover{ 
    text-decoration: none;
    color: grey;
    border-bottom: 3px solid grey;
}

.rightNav{
    width: 30%;
    text-align: right;
    
}
input{
    border-radius: 9%;
    padding: 5px;
    margin: 5px;
    border: 2px solid grey;

}
.formBtn{
    border-radius: 9%;
    padding: 5px;
    border: 2px solid grey;

}
.logo{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 20%;

}
.logo img{
    border: 1px solid white;
    border-radius: 50%;
}
.background{
    background: rgba(0 , 0 , 0 , 0.7)  url("images/background.webp") ;
    background-size: cover;
    background-blend-mode: darken;
}
/* nav end */
/* seection 1 start */
.firstSection{
    height: 100vh;
}
.mainBox{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: cursive;
    max-width: 50%;
    margin: auto;
    height: 90%;
}
.fHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sHalf{
    width: 30%;
}
.sHalf img{
    width: 90%;
    border: 2px solid white;
    border-radius: 100%;
    display: block;
    margin: auto;
}
.textBig{
    font-size: 30px;
}
.textSmall{
 font-size: 20px;
 font-family: monospace;
}
.btn{
    padding: 6px 13px;
    margin: 2px;
    margin-top: 14px;
    border-radius: 20px;
    font-size: 13px;
    background: none;
    color: white;
    font-family: cursive;
    cursor: pointer;
    border: 2px solid white;

}
.btn:hover{
    background-color: white;
    color: black;
}
/* section 1 end */
.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    height: 400px;
    margin: auto;
}
.Left{
    flex-direction: row-reverse;
    
}

.paras{
    padding: 0px 35px;
}
/* section3 start */
.contact{
    height: 99vh;
}
.textCenter{
    text-align: center;
}
.formInput{
    margin: 4px;
    padding: 10px;
    width: 40%;
    font-size: 16px;
    border-radius: 30px;
    font-family: cursive;
    bottom: 2px solid grey;

}
.form{
    margin-top: 29px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.btnSubmit{
    position: relative;
    right: 17%;
    font-size: larger;
    background-color: rgba(128, 128, 128, 0.24);
    color: black;

}
.btnSubmit:hover{
    background-color: gray;
    color: black;
}
.latInp{
    height: 180px;
}
.label{
    position: relative;
    right: 17%;
    font-family: monospace;
    font-weight: bolder;
    font-size: 1.6em;
}

/* footer */
.footerText{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    color: white;

}










@media only screen and (max-width : 1140px) {
    .textBig {
        font-family: cursive;
        font-size: 24px;
    }
    .textSmall {
        font-size: 16px;
    }
}